*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
appconfig.js
defaultConfiguration.ts
package-lock.json
.vscode
.env
client_src/dist/js/vendor.bundle.js
client_src/dist/js/vendor.bundle.js.map
client_src/dist/js/app.bundle.js
client_src/dist/js/app.bundle.js.map
client_src/dist/index.html
